/Lab03 Class work/nbproject/private/
/Lab03 Class work/build/
/Lab3HomeTask/nbproject/private/
/Lab3HomeTask/build/
/Assignment01/nbproject/private/
/Assignment01/build/
/Lab4Classwork/nbproject/private/
/Lab4Classwork/build/
/Lab4HomeTask/nbproject/private/
/Lab4HomeTask/build/
/Lab5ClassWork/nbproject/private/
/Lab5ClassWork/build/
/LabTAsk05/nbproject/private/
/LabTAsk05/build/
/Lab06HomeTAsk/nbproject/private/
/Lab06HomeTAsk/build/
/JavaApplication52/nbproject/private/
/Lab7ClassWork/nbproject/private/
/Lab7ClassWork/build/
/Lab5HomeTask/nbproject/private/
/Lab5HomeTask/build/